
#=============================================================
# AUTHENTICATION & SECURITY
#=============================================================

JWT_SECRET="<Add here>"
DEFAULT_ADMIN_PASSWORD="<Add here>"
DEFAULT_USER_PASSWORD="<Add here>"
APP_URL="MY_APP_URL"

