
#=============================================================
# AUTHENTICATION & SECURITY
#=============================================================

JWT_SECRET="<Add here>"
DEFAULT_ADMIN_PASSWORD="<Add here>"
DEFAULT_USER_PASSWORD="<Add here>"
DATABASE_URL="postgres://postgres.[password]@db.xxxxxx.supabase:6543/postgres"


